html {
  font-size: 10px;
}
body {
  font-size: 16px;
}
button,
input[type="button"] {
  margin: 1rem;
}
.log {
  min-width: 10rem;
  max-width: 70rem;
  width: 80%;
  min-height: 20rem;
  margin: 1rem;
  padding: 2rem 1rem;
  border: 0.2rem solid #333;
}
.log>div {
  margin: 0.5rem 0;
  color: white;
}
.log .message {
  color: #333;
}
.log .warning {
  color: darkgoldenrod;
}
.log .error {
  border: 0.1rem solid red;
  background: darkred;
  color: lightgray;
}
